body, html {
    height: 100%;
    width: auto;
    margin: 0px;
    font-family:Arial, Helvetica, sans-serif;
  }
  
.bg { 

    background-image: url("images/wide_church.JPG");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: opacity(80%);
    /* filter: grayscale(100%); */
    /* opacity: 0.5; */
}

.topnav a {
    float: left;
    color: #474747;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav-right {
    float: right;
}

/* .hamburger{
  align-items: center;
} */

/* Style the navbar */
nav {
    position: fixed;
    overflow: hidden;
    width: 100%;
    background-color: rgb(248, 248, 248);
    z-index: 2;
    font-size: 14px;
  }
  
  /* Navbar links */
nav a {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    opacity: .6;
  }

  .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-google {
    background: #dd4b39;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }

.social{
    position: absolute;
    bottom: 0;
    left: 0;
}

.border{
  border-right: 2px solid rgb(223, 223, 223);
}

.navbar{
  border-bottom: 1px solid rgb(223, 223, 223);
}

.give-blue{
  background-color: #3832a1;
  opacity: 1;
  color: white;
  width: 50px;
}

.topnav-right, .navbar a{
  height: 50px;
  line-height: 50px;
  transition: .3s;
}

.nav-touch:hover{
  color: #000000;
  opacity: 1;
}

.logo:hover{
  color: #000000;
  opacity: 1;
}

.give-blue:hover{
  background-color: #000000;
}

.main-quote{
  /* width: 600px; */
  bottom: 45%;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-size: 60px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  -webkit-text-stroke: 1px rgb(180, 180, 180);
}



/* ------------------------------------ */
/* middle of page */
/* ------------------------------------ */


.middle{
  /* height: 550px; */
  background-color: rgb(255, 255, 255);
  margin-bottom: 100px;
}


.middle-top{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
    
}

.middle-top p, i {
  opacity: .6;
}

.middle-top h1 {
  opacity: .75;
}

.wrapper{
    display: flex;
    flex-direction: row;
    justify-content:center;
}

.box{
  margin-right: 20px;
  margin-left: 20px;
  height: 350px;
  width: 550px;
  text-align: center;

}

.box:nth-child(1){
    background-color: #6DB3F2;
    background-image: url(images/color1.jpg);
    background-position: center;
    background-size: 700px;
    background-repeat: no-repeat;
}

.box:nth-child(2){

  background-image: url(images/color2.jpg);
  background-position: center;
  background-size: 700px;
  background-repeat: no-repeat;
}

.box img {
    width: 100%;
    height: 100%;
    object-fit: cover;   
}

.box h1{
    padding-top: 100px;
    color: #ffffff;
}

.button{
    /* width: 150px; */
    /* height: 50px; */
    padding: 15px;
    text-decoration: none;
    font-size: 14px;
    background-color: #0c3794;
    color: white;
    box-shadow: none;
    border: none;
    transition: .3s;
}

.button:hover{
   cursor: pointer;
   background-color: black;
}

i{
  font-size: 20px;
}


/* --------------------------- */
/* BOTTOM */
/* --------------------------- */


.bottom{
  background-color: rgb(248, 248, 248);
  /* height: 900px; */
  
}

.bottom{
  display: flex;
  flex-direction: row;
  justify-content:center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.bio{
  width: 600px;
  height: 500px;
  margin-right: 10px;
  background-image: url(images/portrait.png);
  background-position: center;
  background-size: 600px;
  background-repeat: no-repeat;
  border: 4px solid rgb(255, 255, 255);
}

.bio-text{
  width: 400px;
  /* height: 800px; */
  margin-left: 10px;
  overflow:hidden;
}

.bio-text p{
  opacity: .6;
}

.bio-text h2{
  margin: 0;
}

.pic-text p{
  opacity: .6;
  font-size: 12px;
}


/* --------------------------- */
/* FOOTER section */
/* --------------------------- */



footer *{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.container{
  max-width: 1170px;
  margin:auto;
}

.row{
  display: flex;
  flex-wrap: wrap;
}

ul{
  list-style: none;
}

.footer{
  background-color: #24262b;
  padding: 70px 0;
}
.footer-col{
  width: 25%;
  padding: 0 15;
}
.footer-col h4{
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 30px;
  font-weight: 500;
  position: relative;
  background-color: rgb(36, 37, 107);
}
.footer-col h4::before{
  content: '';
  position: absolute;
  left:0;
  bottom: -10px;
  background-color: #4b6ce0;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child){
  marging-bottom: 10px;
}
.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover{
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255,255,255,0.2);
  margin-right:0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
  color: #24262b;
  background-color: #ffffff;
}

/* for iphones*/
@media(max-width:990px){
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }

  .row{
    flex-direction: column;
    align-items: center;
  }
  
}




/* --------------------------- */
/* hamburger */
/* --------------------------- */


.hamburger{
  cursor: pointer;
  border: none;
  display: none;
  margin: 0px 20px;
  background-color: #F7F7F7;
}

@media (max-width: 990px){

  *{
    transition: 0s;
  }

  .row-content{
      display: flex;
      flex-direction: column;
      padding-bottom: 50px;
  }

  .links{
      display: none;
      flex-direction: column;
      width: 100%;
  }

  .logo{
    display: none;
  }

  .links.show{
      display: flex;
  }

  .hamburger{
      display: block;
      width: 80px;
  }

  .navbar{
    overflow:visible;  
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .topnav-right a{
    opacity: 1;
    background-color: rgb(248, 248, 248);
    padding: 0;
    transition: 0s;
  }

  .topnav-right a:hover{
    background-color: black;
    color: white;
  }

  .give-blue{
    display: inline;
    opacity: 1;
    background-color: rgb(248, 248, 248);
    color: #000000;
    width: 100%;
  }

  .give-blue:hover{
    background-color:black;
    color: white;
  }
  
  .hamburger{
    padding: 0;
    margin: 0;
    float: right;
  }

  .bottom, .bio-text{
    flex-direction: column;
    height: 1400px;
    margin: 0;
    align-items: center;  
  }

  .bio-text{
    padding: 0; 
  }

  .pic-text p{
    margin-bottom: 100px;
  }

  .wrapper{
    flex-direction: column;
    overflow: auto;
    align-items: center;
    /* margin-bottom: 500px; */
 
  }
  .box{
    /* height: 300px; */
    /* width: 300px; */
    margin: 30px;
  }

  .pic-text{
    text-align: center;
  }

}

@media(max-width:450px){
  .box{
    width: 300px;

  }
  .navbar{
    width: 100%;
    /* margin: 0; */
    padding-bottom: 30px;
  }
  nav {
    position:relative;
    /* padding: 30px; */
    /* padding: 30px; */
  }

  .bio{
    background-size: 350px;
    border: none;
    /* height: 500px; */
  }
  .bio-text{
    width: 340px;
    /* overflow: auto; */
    /* height: 3000px; */
  }
}


/* GALLERY */
.gallery-container{
  height: 100%;
  background-color: #ffffff;
  padding-top: 100px;
  overflow: auto;
  /* min-width: 150px; */

}


.gallery a{
  height: 100px;
  width: 100px;
}

.gallery img{
  
  height: 300px;
  width: 300px;
  object-fit: cover;
  /* min-width: 550px; */
  

}

.gallery{
  margin: 10px 50px;
}

.gallery img{
  transition: 1s;
  padding: 15px;

}
.gallery img:hover{
  /* filter: grayscale(100%); */
  transform: scale(1.1);
}

