.events-banner {
    background-color: #262626;
    color: white;
    margin: 0;
    padding: 80px;
    text-transform: uppercase;
  }

  
  
   /* (A) SPEECH BOX */
.speech {
    /* (A1) FONT */
     font-size: 1.1em;
   
    /* (A2) COLORS */
    color: #fff;
    background: #a53d38;
   
    /* (A3) DIMENSIONS + POSITION */
    position: relative;
    padding: 20px;
    border-radius: 10px;
    max-width: 320px;
  
  }
  
  /* (C2) LEFT */
.left.speech::after {
    /* (C2-1) LEFT TRIANGLE */
    border-right-color: #a53d38;
    border-left: 0;
   
    /* (C2-2) POSITION AT LEFT */
    left: -20px; top: 50%;
    margin-top: -20px;
  }
  
  /* (B) ADD SPEECH "CALLOUT TAIL" */
  /* (B1) USE ::AFTER TO CREATE THE "TAIL" */
.speech::after {
    /* (B1-1) ATTACH TRANSPARENT BORDERS */
    content: "";
    border: 20px solid transparent;
   
    /* (B1-2) NECESSARY TO POSITION THE "TAIL" */
    position: absolute;
}
  
.event-this{
    padding-top: 50px;
    display: flex;
    flex-direction: row;
}
  
.info, .event-details{
    color: white;
    padding-left: 20px;
    text-decoration: none;
    padding: none;
}
  
.titleE{
    padding: 0;
    margin: 0;
    padding-left: 50px;
    font-size: 40px;
}
  
.event-splitter{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

.bg-image-event{
    background-image: url("images/event1.jpg");
    height: 250px;
    width: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
}
  
/* add the counter css  */
.splitter{
    display: flex;
    flex-direction: row;
}

.timer{
    width: 300px;
    height: 200px;
}

.event-details:hover{
    text-decoration: underline;
}

.event-page-pic{
    background-image: url("images/event2.jpg");
    height: 300px;
    width: 500px;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
    padding-bottom: 40px;

}

.event-container{
    padding-top: 100px;
    width: 500px;
    margin: auto;
    padding-bottom: 100px;
}

.event-container hr{
    width: 500px;
}

.event-page-pic2{
    background-image: url("images/event1.jpg");
    height: 500px;
    width: 500px;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
    margin-top: 50px;

}

.event-list{
    list-style-type: circle;
}

.timer-event{
    padding-bottom: 50px;
}

.opacity{
    opacity: .6;
}

.color{
    color: rgb(37, 128, 185);
}

.grit{
    background-image: url("images/grit.png");
    /* margin: 500px; */
}